        <div id="main">
            <article>
                <header>
                    <h2>读彩，发现你阅读基因</h2>
                </header>
                <div id="content" class="clearfix">
                    <p>没有一个足够好用的阅读工具，它关注长久的、有价值的知识而不是具有时效性、没什么意义的资讯，她足够简单易用，最重要的是，它能识别你的阅读兴趣。于是，我试着创造了一个。我认为大部分目前已有的互联网产品还是太笨了，我坚信好的算法能成就好的产品、好的产品就能改变世界。我会尝试在读彩上实践一些推荐算法，试图让读彩能更好地识别你的阅读兴趣。</p>
                    <p>目前的读彩已经有了一个雏形的Web版和一个还比较粗糙的<%= link_to "安卓客户端",apps_url %>，产品正在改进，一切都似乎在朝着好的方向发展。</p>
                    <p>读彩期待能与你共同成长 :)</p>
                </div>
                </article>
              </div>
