<div id="main">
    <article class="proper-size">
        <h2>用户设置</h2>
        <section style="margin-top:20px;">
          <p>昵&nbsp;称:&nbsp;<input type="text" name="name" id="name" class="hidden" value="<%= @user.name %>" /><span id="name-area"><%= @user.name %></span><span class="msg"></span></p>
            <p><a href="#">设置登录邮箱和密码</a>&nbsp;&raquo;</p>
            <div id="sync">
                <p><i class="weibo"></i>将以后喜欢的文章同步到新浪微博<span class="unsync"><a href="#">设置</a></span></p>
                <p><i class="qzone"></i>将以后喜欢的文章同步到QQ空间<span class="unsync"><a href="#">设置</a></span></p>
                <p><i class="renren"></i>将以后喜欢的文章同步到人人网<span class="unsync"><a href="#">设置</a></span></p>
                <p><i class="douban"></i>将以后喜欢的文章同步到豆瓣<span class="unsync"><a href="#">设置</a></span></p>
            </div>
        </section>
        <section style="margin-top:20px;padding-top:10px;border-top:1px dashed #888;">
          <p><label for="url">提交优质内容网站的网址或者RSS</label><br/><input type="url" name="url" id="url" placeholder="http://" />&nbsp;<button type="submit" id="submit-btn">提交</button><span class="msg"></span></p>
            <p><a href="#">申请成为优质内容审核志愿者</a>&nbsp;&raquo;</p>
        </section>
    </article>
</div>
<style>
  .msg{font-size: .9em;padding-left: 5px;color: #2a2;}
  .msg.error{color: #f00;}
</style>
<script>
  $(function(){
    var $name_area = $("#name-area"),
        $name = $("#name"),
        $submit_btn = $("#submit-btn");
    $name_area.click(function(){
      $(this).hide();
      $name.show().focus();
    });
    $name.blur(function(){
      var name = $(this).val();
      if(name){
        $(this).hide();
        if(name == $name_area.text()){
          $name_area.show();
        }else{
          $name_area.text(name).show();
          $.post("/setting.json",{"name":name},function(data){
            if(data.succeed)$name_area.next(".msg").text("已更新。");
          },"json");//请求
        }
        
      }
    });
    $submit_btn.click(function(){
      var url = $("#url").val();
      if(url){
        $.post("/setting.json",{"url":url},function(data){
          if(data.succeed){
            $("#url").val("");
            $submit_btn.next(".msg").text("已成功提交！");
          }
        },"json");//请求
      }
    });
  });
  
</script>
