<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Hashed password</th>
    <th>Salt</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.hashed_password %></td>
    <td><%= user.salt %></td>
    <td><%= user.name %></td>
    
  </tr>
<% end %>
</table>
