<div id="main">
    <article style="min-height:500px;">
        <p>安卓客户端v0.1于2013年1月4日低调上线！</p>
        <div class="clearfix">
            <a class="left android" href="/readcolor.apk"></a>
            <div class="left apple"></div>
        </div>
        
    </article>
</div>