html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a:hover, a:active {outline: 0;}
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: table;content: "";}
.clearfix:after {clear: both;}
.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.small{font-size:0.8em;}
.proper-size{font-size:0.9em;}
.hidden{display:none;}
body{
	font-size:16px;
	font-family:"Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
a{
	color: #0088cc;
	text-decoration: none;
}
p{
	line-height:1.5em;
	margin-bottom:1em;
}
input,textarea{padding:2px;border:1px solid #ccc;outline:none;font-size:14px;}
input:focus,textarea:focus{-webkit-box-shadow:0 0 8px #ddd;-webkit-transition:box-shadow linear 0.3s;}
#wrapper{
	width:800px;
	margin:0 auto;
}
#head{
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
}
#head nav.top{
	position:relative;
}
#head nav.top ul{
	position:absolute;
	right:0;
	bottom:10px;
	color:#999;
}
#head li{
	float:left;
}
#head li.pipe{padding:0 8px;}


#title{
	/*
	padding:5px;
	background-color:#d56;
	color:#fff;*/
	border-left:5px solid #d56;
	padding-left:8px;
}
#title h2{
	font-size:1.5em;
	font-family:"Microsoft Yahei";
	font-weight:500;
}
#title section{font-size:.9em;margin-top:5px;}
#title section,#title section a{color:#999;}
#title time{display:none;}
#title address{font-style:normal;}

#content{
	margin-top:20px;
	word-wrap:break-word;
	word-break:break-all;
}
#content img{
	max-width:100%;
}
#content h1,#content h2,#content h3,#content h4,#content h5{
	font-weight:bold;
  font-size:1em;
  margin-bottom:5px;
}
#content li{
	padding:6px 0 4px 0;
    line-height:1.5em;
}
#content pre{
	font-family: Verdana,Consolas,Monaco,Arial,sans-serif;
    padding:1px 0 1px 3px;
    border:0;
    border-left:2px solid #923;
    font-size:0.8em;
}
#next{
	padding-top:0px;
}

#advertise{
	margin-top:10px;
	color:#666;
	font-size:0.8em;
}
#foot{
	margin-top:10px;
	border-top:1px solid #aaa;
	padding:5px 0;
}
#foot li{
	float:left;
}
#foot li.pipe{
	padding:0 8px;
}
#foot li.right{
	float:right;
}


#sign{
	margin-top:10px;
}
#sign > article{
	float:left;
	width:50%;
}
#sign ul,#sign .semiform{
	margin-top:10px;
}
#sign ul li{
	margin-bottom:10px;
}

.form-line{
	width:100%;
}
.form-line span,.form-line input,.form-line label{
	line-height:20px;
}
.form-line .error,.form-line .correct{
	font-size:0.8em;
	padding-left:3px;
}
.form-line .error{
	color:#f00;
}
.form-line .correct{
	color:#0f0;
}
.semiform input{
	width:200px;
    padding:1px;
}

#action a{
	background-color:#eee;
	display:block;
	float:left;
	margin-right:10px;
	padding:0 8px;
  border-radius:3px;
  line-height:22px;
	color:#666;
	background-color:#ddd;
    font-size:.8em;
}
#action a:hover{
	color:#fff;
	background-color:#090;
}
.renren, .weibo, .qzone, .douban, .kaixin, .facebook, .twitter{
	display:inline-block;
	width:16px;
	height:16px;
	background-image:url(iconsx16.png);
	vertical-align:top;
	margin-right:5px;
}
.renren{background-position:0px 16px;}
.weibo{background-position:-16px 16px;}
.qzone{background-position:-32px 16px;}
.douban{background-position:-48px 16px;}

#sync p{
	line-height:1em;
	margin-bottom:.8em;
}
#sync a{color:#999;}
#sync a{padding:0 3px;}
#sync span.unsync a{color:#0088cc; text-decoration:underline;}
#sync p span{
	margin-left:3px;
}

#name-area{
	background-color:#eee;
	display:inline-block;
	padding:2px 5px 2px 5px;
	cursor:pointer;
}

/* 喜欢文章列表 */
#article-list{
	margin-top:10px;
	min-height:350px;
}
#article-list ul li{
	margin-bottom:.5em;
	line-height:1.2em;
	display:block;
	position:relative;
}
#article-list .tags{
	position:absolute;
	right:0;
	bottom:2px;
	font-size:.9em;
}
#article-list .tags a{
	display:inline-block;
	margin-left:3px;
	padding:2px 3px;
	background-color:#eee;
	color:#090;
}

.pagination{
	padding:5px 0;
}
#neibors{}
#neibors ul{background-color:#eee;padding:4px 0;border-radius:3px;}
#neibors ul li{
	float:left;
	margin-right:5px;
}



textarea.editor{
	width:100%;
	height:600px;
}

.android,.apple{background:url("/assets/apps.png") no-repeat 0 -100px;height:50px;width:145px;}
.android{background-position: 0 -50px;display:block;margin-right:20px;}

/* responsive for mobile device */
@media (max-width:799px){
	/*
	#head nav.top ul{
		position:relative;
		margin-top:10px;
	}
	*/
	#head li.pipe,#foot li.pipe{
		padding:0 3px;
	}
	#wrapper{
		width:100%;
	}
	#head,#main,#foot{
		padding-right:5px;
		padding-left:5px;
	}
	#main header h2{font-size:1.4em;}
	#sign > article{
		float:none;
		width:auto;
	}
	#action{
		width:100%;
	}
	.form-line span,.form-line input,.form-line label{
		display:block;
	}
	.form-line input{
		width:90%;
	}
	#article-list ul li{
		border-bottom:1px dashed #999;
		padding-bottom:3px;}
}